.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

a {
  text-decoration: none;
}

.image {
  width: 100px;
}

.modal-search-form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  max-width: 600px;
  margin-bottom: 0px;
  padding: 24px 24px 24px 12px;
  border: 1px solid #ecebea;
  border-radius: 6px;
  background-color: #fff;
}

.nav-menu-wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-menu-wrapper-2.justify-end {
  margin-right: 40px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.button-2 {
  padding: 14px 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: #fff;
  box-shadow: inset 0 0 20px 200px transparent;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #ccc;
  font-weight: 600;
  text-align: center;
}

.button-2:hover {
  box-shadow: inset 0 0 20px 200px rgba(0, 0, 0, 0.05);
}

.button-2.small {
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: none;
  background-color: #b8262c;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
}

.button-2.small.bt-header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: none;
  border-width: 2px;
  border-color: #f38d25;
  border-radius: 90px;
  background-color: #6d237e;
  background-image: -webkit-gradient(linear, left top, right top, from(#f38d25), to(#ffab44));
  background-image: linear-gradient(90deg, #f38d25, #ffab44);
}

.button-2.small.bt-header:hover {
  border-color: #fff;
}

.button-2.small {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
}

.button-2.small.outline-white {
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-color: #3f72fe;
  border-radius: 3px;
  background-color: #b80000;
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
  color: #fff;
}

.button-2.small.outline-white:hover {
  background-color: #f7b32b;
  color: #ccc;
}

.button-2.small.outline-white.w--current {
  border-color: #3f72fe;
  background-color: #3f72fe;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 500;
}

.button-2.small.outline-white.w--current:hover {
  background-color: #143282;
}

.button-2.small.outline-white.bt {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 17px;
  border-style: none;
  border-radius: 90px;
  background-color: #b80000;
  background-image: linear-gradient(86deg, #fc455c, #fd704b);
  font-size: 16px;
  line-height: 10px;
  font-weight: 700;
}

.button-2.small.outline-white.bt:hover {
  background-color: #f7b32b;
}

.button-2.small.outline-white.center {
  background-color: #b80000;
}

.button-2.small.outline-white.center.bt {
  background-image: linear-gradient(94deg, #6d237e, #9b31bb);
}

.button-2.small.outline-white.center.bt.bt-loca {
  margin-top: 0px;
}

.button-2.small.outline-white {
  border-color: #3f72fe;
  background-color: #3f72fe;
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
  color: #fff;
}

.button-2.small.outline-white:hover {
  background-color: #fff;
  color: #ccc;
}

.button-2.small.outline-white.w--current {
  border-color: #3f72fe;
  background-color: #3f72fe;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 500;
}

.button-2.small.outline-white.w--current:hover {
  background-color: #143282;
}

.button-2.small.outline-white.whatsapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-style: none;
  background-color: #25d366;
  font-weight: 400;
}

.button-2.small.outline-white.whatsapp.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  border-style: none;
  background-color: #25d366;
  font-family: 'PT Sans', sans-serif;
}

.button-2.small.outline-white.whatsapp.pad-20 {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-2.small.outline-white.whatsapp.pad-20.whats-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #25d366;
  border-radius: 7px;
  background-color: #25d366;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.button-2.small.outline-white.whatsapp.pad-20.whats-2.w--current {
  font-size: 18px;
  font-weight: 400;
}

.button-2.small.outline-white.whatsapp.pad-20.whats-2.section__whatsapp {
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-2.small.outline-white.whatsapp.pad-20.whats-2.section__whatsapp.btwpp-map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
}

.button-2.small.botao-borda {
  display: block;
  margin-top: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #b80000;
  border-radius: 3px;
  background-color: transparent;
  color: #b80000;
}

.button-2.small.botao-borda.bt-empree {
  margin-top: 10px;
  background-color: #b80000;
  color: #fff;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #ecebea;
  border-radius: 6px;
  background-color: #fff;
}

.card:hover {
  text-decoration: none;
}

.card.form-input-card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.card.form-input-card:focus {
  border-color: #068466;
}

.card.no-border {
  position: relative;
}

.card.no-border.shadow-small {
  border-style: none;
  background-color: transparent;
}

.nav-functions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal {
  position: fixed;
  left: 50%;
  top: 10vh;
  z-index: 1001;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.container-8 {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  background-color: transparent;
}

.text-block-21 {
  font-size: 18px;
  font-weight: 400;
}

.text-block-21.whtas-txt-2 {
  font-family: Exo, sans-serif;
  color: #b8262c;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
}

.text-block-21.whtas-txt-2.txt-menu-button {
  margin-right: 0px;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}

.text-block-21.whtas-txt-2.txt-menu-button.txt-bt-header {
  margin-right: 0px;
  font-family: 'Made tommy soft personal use', sans-serif;
  color: #fff;
  line-height: 19px;
  font-weight: 500;
  text-transform: uppercase;
}

.text-block-21.whtas-txt-2.txt-menu-button.txt-bt-header:hover {
  color: #fff;
}

.text-block-21.whtas-txt-2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

.text-block-21.whtas-txt-2.whts-big {
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  text-transform: lowercase;
}

.text-block-21.whtas-txt-2.whts-big {
  font-family: Pantonnarrowdemo, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.text-block-21.whtas-txt-2.whts-big.txt-bt-visita {
  font-family: Pantonnarrowdemo, sans-serif;
  font-size: 22px;
  font-weight: 900;
}

.text-block-21.whtas-txt-2.whts-big {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.text-block-21.whtas-txt-2 {
  font-size: 15px;
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.form-input-2 {
  height: 48px;
  margin-bottom: 0px;
  padding: 10px 20px;
  border: 1px solid #ecebea;
  border-radius: 5px;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  font-size: 16px;
  line-height: 24px;
}

.form-input-2:focus {
  border-color: #068466;
}

.form-input-2::-webkit-input-placeholder {
  color: rgba(34, 37, 37, 0.5);
}

.form-input-2:-ms-input-placeholder {
  color: rgba(34, 37, 37, 0.5);
}

.form-input-2::-ms-input-placeholder {
  color: rgba(34, 37, 37, 0.5);
}

.form-input-2::placeholder {
  color: rgba(34, 37, 37, 0.5);
}

.form-input-2.form-input-naked {
  border-style: none;
  background-color: transparent;
}

.nav-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-links.nav-links-1 {
  margin-left: 0px;
}

.modal-screen {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.nav-menu-button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link-2 {
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px 12px 0px 20px;
  font-family: 'Made tommy soft personal use', sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}

.nav-link-2:hover {
  color: #f38d25;
  text-decoration: none;
}

.nav-link-2.w--current {
  color: #f38d25;
}

.button-3 {
  position: relative;
  padding: 10px 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #068466;
  border-radius: 5px;
  background-color: #068466;
  box-shadow: inset 0 0 100px 100px transparent;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.button-3:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.button-3.form-search-button {
  margin-left: 12px;
}

.button-3.button-block {
  width: 100%;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: none;
  background-color: #f38d25;
  font-family: 'Made tommy soft personal use', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.navigation-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999999;
  background-color: #6d237e;
}

.form-input-icon {
  margin-left: 12px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.text-span-3 {
  font-weight: 700;
}

.heading-12 {
  margin-top: 10px;
  color: #29155c;
  font-weight: 400;
}

.hero-grid-2 {
  display: -ms-grid;
  display: grid;
  max-width: 1200px;
  margin-top: 90px;
  margin-bottom: 90px;
  padding-right: 40px;
  padding-left: 40px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 48px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hero-grid-2.grid-sem-margin {
  max-width: 1170px;
  margin: 0px auto 20px;
  padding-right: 48px;
  padding-left: 48px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.hero-image {
  display: block;
  width: 100%;
  height: auto;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: transparent;
}

.hero-image.hero-topo {
  width: 100%;
  max-width: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top: 1px solid #e9e9e9;
}

.wrapper._0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-clip: border-box;
}

.wrapper._0.no-border {
  border-top-style: none;
}

.subtitulo {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #4d4d4d;
  font-size: 17px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.subtitulo.dn {
  display: block;
  color: #fc455c;
  font-weight: 600;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.58);
}

.hero-content-2 {
  margin-top: 80px;
  padding-right: 0px;
}

.slider {
  height: auto;
  max-width: 100%;
  background-color: transparent;
}

.slider.slider-large {
  max-width: 824px;
}

.slider.slider-large.sliderfull {
  max-height: 980px;
  max-width: 100%;
}

.image-6 {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.slider-arrow {
  left: -24px;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 48px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-arrow.sliderpainel {
  left: 10px;
}

.slider-arrow.sliderpainel.dn {
  display: none;
}

.slider-arrow.slider-arrow-right {
  left: auto;
  right: -24px;
}

.slider-arrow.slider-arrow-right.sliderpainelright {
  right: 10px;
}

.slider-arrow.slider-arrow-right.sliderpainelright.dn {
  display: none;
}

.image-5 {
  position: static;
  width: 100%;
  max-height: none;
  max-width: none;
  margin-top: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-5 {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-5.sectionpainel {
  padding-top: 0px;
  padding-bottom: 0px;
}

.container-5 {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
}

.container-5.containerfull {
  max-width: 1900px;
  padding-right: 0px;
  padding-left: 0px;
}

.button-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.button-circle:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.button-circle.slider-arrow-button {
  border: 4px solid #fff;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.row-justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row.row-split-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 20px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.row.row-split-content.ficha {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.row.row-no-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.row.row-justify-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.display-none {
  display: none;
}

.slide {
  -o-object-fit: fill;
  object-fit: fill;
}

.captioned-image-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.icon-list-item-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 26px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border: 1px none #000;
  border-radius: 1px;
}

.bold-text-6 {
  font-size: 20px;
}

.link-block-6 {
  text-decoration: none;
}

.icon-list-2 {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.circle-small-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
  background-color: #141414;
}

.circle-small-3.margin-right {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  background-color: #b80000;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-4.mb {
  margin-bottom: 60px;
}

.heading-14 {
  margin-top: 0px;
  margin-bottom: 7px;
  color: #131122;
  font-size: 18px;
  line-height: 22px;
}

.heading-14.link-14 {
  color: #1a1a1a;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
}

.icon-list {
  margin-bottom: 0px;
  padding-left: 0px;
}

.icon-list.icon-list-vertical {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 18px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.content-width-medium {
  width: 100%;
  direction: ltr;
}

.body-heading-2 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Exo, sans-serif;
  color: #b8262c;
  font-size: 38px;
  line-height: 1.2em;
  font-weight: 600;
}

.body-heading-2.titulowhite {
  color: #fff;
}

.body-heading-2.titulowhite.titulo-3 {
  margin-bottom: 20px;
  color: #b80000;
  font-size: 38px;
  line-height: 1.1em;
  font-weight: 700;
}

.body-heading-2.titulowhite.titulo-3.titulo-center {
  text-align: center;
}

.body-heading-2.titulowhite.titulo-3 {
  margin-bottom: 20px;
  color: #b80000;
  font-size: 38px;
  line-height: 1.1em;
  font-weight: 700;
}

.dot-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7e828f;
  font-size: 20px;
  line-height: 22px;
}

.margin-top-2 {
  margin-top: 0px;
}

.text-span-9 {
  font-family: Pantonnarrowdemo, sans-serif;
  color: #6d237e;
  font-size: 32px;
  text-transform: uppercase;
}

.content-width-small {
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  direction: ltr;
}

.text-block-29 {
  color: #7e828f;
  font-size: 20px;
  line-height: 25px;
}

.section {
  position: relative;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f38d25;
}

.section.bg-gray-4.novoform {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #fff;
}

.section.bg-gray-4.novoform.pb-80 {
  padding-bottom: 80px;
}

.section.bg-gray-4.fichatecnica {
  padding-top: 70px;
  padding-bottom: 60px;
  background-color: #fff;
}

.section.section-cta {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: transparent;
}

.section.section-cta.section-perguntas {
  padding-bottom: 10px;
  background-color: #f4f4f4;
}

.content-width-medium-2 {
  width: 100%;
  max-width: 506px;
  direction: ltr;
}

.hero-sub-heading {
  margin-bottom: 30px;
  padding-right: 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 19px;
  line-height: 1.5;
  font-weight: 400;
}

.hero-sub-heading.sublack {
  max-width: 490px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  color: #333;
}

.hero-sub-heading.sublack.sub_titulo {
  width: 800px;
  max-width: none;
  padding-bottom: 15px;
  color: #7e828f;
  font-size: 18px;
  line-height: 27px;
}

.hero-sub-heading.sublack.sub_titulo.menor {
  width: auto;
  padding-bottom: 0px;
  font-family: Pantonnarrowdemo, sans-serif;
  color: #f38d25;
  font-size: 22px;
  font-weight: 700;
}

.hero-sub-heading.sublack.sub_titulo.menor.branco {
  color: #fff;
}

.hero-sub-heading.sublack.sub_titulo.m0 {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 0px;
  font-family: 'Made tommy soft personal use', sans-serif;
  color: #525252;
  font-size: 16px;
  font-weight: 300;
}

.hero-sub-heading.sublack.sub_titulo.m0 {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 0px;
  font-size: 22px;
}

.hero-sub-heading.sublack.sub_titulo.m0.menor {
  margin-top: 40px;
  color: #181818;
  font-size: 18px;
  font-weight: 400;
}

.hero-sub-heading.sublack.sub_titulo.m0.menor.branco {
  margin-top: 20px;
  color: #fff;
  font-weight: 300;
}

.hero-sub-heading.tituloinvista {
  margin-bottom: 0px;
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 700;
}

.container-9 {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.list-dot {
  width: 6px;
  height: 6px;
  margin-right: 12px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
  background-color: #62636b;
}

.list-dot.bg-primary-1 {
  background-color: #141414;
}

.list-dot.bg-primary-1 {
  background-color: #f38d25;
}

.large-text {
  font-family: 'Made tommy soft personal use', sans-serif;
  color: #525252;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.large-text.txt-branco {
  color: #fff;
}

.large-text.txt-branco.txt-diferenciais {
  font-size: 15px;
  line-height: 26px;
}

.large-text.txt-footer {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.large-text.txt-endereco {
  margin-top: 20px;
  color: #181818;
  font-size: 16px;
  font-weight: 500;
}

.large-text.mb-30 {
  margin-bottom: 30px;
}

.select-field-unstyled {
  position: relative;
  left: 0px;
  bottom: 1px;
  width: 120%;
  height: 40px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px none #000;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.container-small {
  width: 100%;
  max-width: 400px;
  direction: ltr;
}

.container-small.align-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container-small.boxespecialista__img {
  max-width: 100%;
}

.boxed {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background-color: #fff;
  color: #2c2d36;
}

.boxed.portrait-quote-box-content {
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 24px;
  padding: 24px;
}

.boxed.square-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.boxed.square-top.boxed-small {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 24px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  text-align: center;
}

.boxed.square-top.boxed-small.box-passei {
  padding: 119px 10px 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.boxed.square-top.boxed-small.box-passei:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.text-small {
  font-size: 14px;
  line-height: 22px;
}

.text-small.quote-author {
  margin-top: 12px;
  opacity: 0.5;
}

.text-small.form-input-label {
  margin-bottom: 12px;
  font-weight: 400;
}

.text-small.quote-author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.text-small.quote-author.titulo-bairro {
  font-size: 22px;
  font-weight: 500;
}

.main-container {
  width: 100%;
  max-width: 1296px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.select-field {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 60px;
  padding: 10px 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(44, 45, 54, 0.17);
  border-radius: 5px;
  background-color: #fff;
  background-image: url('../images/icon-select-arrow.svg');
  background-position: 94% 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.text-danger {
  color: #ad343e;
}

.form-grid-halves {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.selectable-field {
  margin-bottom: 0px;
}

.detailed-form-grid {
  grid-column-gap: 24px;
  grid-row-gap: 72px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.form-grid-vertical {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 18px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-gray-1 {
  color: #2c2d36;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-top: 0px;
  border-color: rgba(44, 45, 54, 0.17);
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: opacity 200ms ease, background-color 200ms ease, border-color 200ms ease;
  transition: opacity 200ms ease, background-color 200ms ease, border-color 200ms ease;
  cursor: pointer;
}

.checkbox.w--redirected-checked {
  border-color: #e14817;
  background-color: #e14817;
  background-image: url('../images/icon-check-small.svg');
  background-position: 50% 50%;
  background-size: auto;
}

.form-success {
  padding: 18px;
  border-radius: 5px;
  background-color: #559866;
  color: #fff;
}

.form-block {
  width: 100%;
  margin-bottom: 0px;
}

.selectable-label {
  position: relative;
  bottom: 3px;
  margin-bottom: 0px;
  margin-left: 12px;
  font-size: 14px;
  line-height: 22px;
}

.text-large {
  font-size: 20px;
  line-height: 30px;
}

.section-6 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-6.bg-gray-4.padding60 {
  background-color: #6d237e;
}

.section-6.nopadding {
  padding-bottom: 0px;
}

.section-6.nopadding.maps-padding {
  padding-top: 60px;
  .container-loca{
    padding: 0 0 40px 0;
  }
}

.button {
  padding: 16px 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #e14817;
  border-radius: 5px;
  background-color: #e14817;
  box-shadow: inset 0 200px 200px 200px transparent;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.button:hover {
  box-shadow: inset 0 200px 200px 200px rgba(0, 0, 0, 0.1);
}

.form-input {
  height: 60px;
  margin-bottom: 0px;
  padding: 16px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(44, 45, 54, 0.17);
  border-radius: 5px;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  font-size: 16px;
  line-height: 24px;
}

.form-input:focus {
  border-color: #2c2d36;
}

.form-input::-webkit-input-placeholder {
  color: rgba(44, 45, 54, 0.5);
  font-size: 16px;
  line-height: 24px;
}

.form-input:-ms-input-placeholder {
  color: rgba(44, 45, 54, 0.5);
  font-size: 16px;
  line-height: 24px;
}

.form-input::-ms-input-placeholder {
  color: rgba(44, 45, 54, 0.5);
  font-size: 16px;
  line-height: 24px;
}

.form-input::placeholder {
  color: rgba(44, 45, 54, 0.5);
  font-size: 16px;
  line-height: 24px;
}

.portrait-quote-box {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.container-large {
  width: 100%;
  max-width: 612px;
  direction: ltr;
}

.container-large.align-center {
  margin-right: auto;
  margin-left: auto;
}

.container-large.overlay-image {
  margin-top: 48px;
  margin-left: -72px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.form-error {
  margin-top: 12px;
  padding: 18px;
  border-radius: 5px;
  background-color: #ad343e;
  color: #fff;
  text-align: center;
}

.button-4 {
  padding: 16px 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #ff0303;
  border-radius: 5px;
  background-color: #ff0303;
  box-shadow: inset 0 200px 200px 200px transparent;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.button-4:hover {
  box-shadow: inset 0 200px 200px 200px rgba(0, 0, 0, 0.1);
}

.button-4.button-large {
  position: static;
  padding: 14px 36px;
  background-color: #ca1c1c;
  font-size: 20px;
  line-height: 30px;
}

.button-4.button-large.botao__100 {
  border-style: none;
  background-color: #ff0303;
  font-size: 16px;
}

.text-primary-1 {
  color: #282828;
}

.whatsimg {
  margin-right: 10px;
  color: #282828;
}

.large-heading {
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 48px;
}

.image-with-box-row {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.rounded-large {
  display: block;
  border-radius: 20px;
}

.rounded-large.shadow {
  -o-object-fit: fill;
  object-fit: fill;
}

.grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block-23 {
  color: #4a4a4a;
  line-height: 26px;
}

.boxed-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background-color: #fff;
  color: #9e9e9e;
}

.boxed-2.increased-padding {
  padding: 48px;
}

.boxed-2.increased-padding.shadow.box_-especialista--texto {
  position: relative;
  left: 38px;
  max-width: 900px;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.34);
}

.button-5 {
  padding: 14px 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: #fff;
  box-shadow: inset 0 0 20px 200px transparent;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #264c51;
  font-weight: 600;
  text-align: center;
}

.button-5:hover {
  box-shadow: inset 0 0 20px 200px rgba(0, 0, 0, 0.05);
}

.button-5.bg-primary-1 {
  border-color: #264c51;
  background-color: #264c51;
  color: #fff;
}

.button-5.icon-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-5.icon-button.overlay-slider-button-left {
  left: -28px;
  border-style: none;
  border-color: #264c51;
  background-color: #6d237e;
}

.button-5.icon-button.overlay-slider-button-right {
  right: -28px;
  border-style: none;
  border-color: #264c51;
  background-color: #6d237e;
}

.button-5.outline-white {
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
  color: #fff;
}

.button-5.outline-white:hover {
  background-color: #fff;
  color: #264c51;
}

.large-heading-2 {
  margin-bottom: 24px;
  font-size: 54px;
  line-height: 60px;
}

.large-text-2 {
  font-size: 18px;
  line-height: 30px;
}

.section-7 {
  display: block;
  padding-top: 96px;
  padding-bottom: 96px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eeece7;
}

.section-7.has-squiggle {
  position: relative;
  overflow: hidden;
}

.section-7.has-squiggle.bg-dark {
  background-color: transparent;
  background-image: url('../images/bg-purple.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat-y;
}

.section-7.border-top {
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 1px solid rgba(8, 38, 42, 0.1);
  background-image: linear-gradient(86deg, #f38d25, #ffab44);
}

.small-caps-text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.small-caps-text.subtitle {
  margin-bottom: 18px;
}

.form-success-2 {
  padding: 24px;
  background-color: #264c51;
  color: #fff;
  text-align: center;
}

.bg-squiggle {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  opacity: 0.05;
}

.small-link {
  text-decoration: underline;
}

.form-error-2 {
  margin-top: 12px;
  padding: 16px;
  background-color: #f5c8c8;
  color: #264c51;
}

.form-block-2 {
  margin-bottom: 0px;
}

.form-grid-vertical-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 18px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.boxed-form {
  padding: 48px;
}

.boxed-form.bg-white {
  position: relative;
}

.main-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 48px;
  padding-left: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-input-3 {
  height: 56px;
  margin-bottom: 0px;
  padding: 16px 18px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(8, 38, 42, 0.2);
  background-color: transparent;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  color: #264c51;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.form-input-3:focus {
  border-color: #264c51;
}

.form-input-3::-webkit-input-placeholder {
  color: #264c51;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.form-input-3:-ms-input-placeholder {
  color: #264c51;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.form-input-3::-ms-input-placeholder {
  color: #264c51;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.form-input-3::placeholder {
  color: #264c51;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.container-large-2 {
  width: 100%;
  max-width: 624px;
}

.container-large-2.align-center {
  position: relative;
  max-width: 460px;
}

.fine-print-text {
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
}

.section-title {
  margin-bottom: 0px;
}

.form-group {
  margin-bottom: 12px;
}

.form-grid-halves-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading {
  color: #1a1a1a;
}

.heading.titulo-form {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 34px;
}

.form-label-2 {
  margin-bottom: 2px;
  font-family: 'Made tommy soft personal use', sans-serif;
  font-weight: 400;
}

.bold-text-3 {
  font-size: 32px;
  line-height: 33px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.big-paragraph {
  color: #1a1a1a;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.big-paragraph.txt.text-form {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  font-family: Pantonnarrowdemo, sans-serif;
  color: #6d237e;
  font-size: 26px;
  line-height: 40px;
  font-weight: 900;
  text-align: center;
}

.card-body {
  width: 460px;
  padding: 40px 40px 24px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
}

.form-feedback {
  margin-top: 12px;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
}

.form-feedback.bg-error {
  margin-top: 12px;
}

.text-span-10 {
  color: #f38d25;
  font-size: 28px;
}

.body-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pantonnarrowdemo, sans-serif;
  color: #6d237e;
  font-size: 32px;
  line-height: 49px;
  font-weight: 700;


  &.body-heading--branco {
    color: #fff;
  }
}

.heading-centered {
  max-width: 900px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  text-align: center;
}

.heading-centered._100 {
  max-width: 100%;
  margin-bottom: 15px;
}

.main-container-6 {
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  background-color: transparent;
}

.section-8 {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-8.galeria {
  padding-top: 80px;
  padding-bottom: 27px;
  background-color: #fff;
  // background-image: url('../images/bg2_.png');
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: repeat-x;
}

.section-8.galeria {
  padding-top: 80px;
  padding-bottom: 0px;
  background-color: #fff;
}

.handwriting-wrapper {
  position: relative;
  display: block;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.handwriting-wrapper.dn {
  display: none;
}

.grid-quarters {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container-small-2 {
  width: 100%;
  max-width: 100%;
  direction: ltr;
}

.container-small-2.align-center {
  max-width: 100%;
}

.slide-with-caption {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.slide-with-caption.slidepadding {
  margin-top: 0px;
}

.slider-2 {
  height: auto;
  background-color: transparent;
}

.slider-2.text-box-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hide-slide-nav {
  display: none;
}

.container-6 {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.section-contents {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-right: 20px;
}

.button-div {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.button-div.button-leftg {
  margin-left: 0px;
}

.container-large-3 {
  width: auto;
  max-width: none;
}

.slide-image {
  display: block;
  height: auto;
  margin-bottom: 0px;
}

.button-icon-image {
  position: absolute;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.badge-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 200px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.badge-2.badge-group-item {
  margin-right: 6px;
  margin-bottom: 6px;
}

.badge-2.badge-group-item.bg-white {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
}

.badge-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 0px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid-halves-2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 13px;
  grid-row-gap: 72px;
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.badge-icon {
  width: 24px;
  margin-right: 6px;
}

.container-4 {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.container-4.container-loca {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #1a1a1a;
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
}

.body-heading-3.tit_sessao {
  padding-bottom: 10px;
  color: #1a1a1a;
  font-size: 42px;
  line-height: 40px;
  font-weight: 700;
}

.body-heading-3.tit_sessao.titsolucoes {
  font-size: 40px;
  line-height: 45px;
}

.body-heading-3.tit_sessao.titsolucoes.tit-footer {
  font-family: 'Made tommy soft personal use', sans-serif;
  font-size: 28px;
}

.main-container-7 {
  width: 100%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.main-container-7._100 {
  max-width: 100%;
  padding-left: 0px;
}

.bold-text-7 {
  font-family: Pantonnarrowdemo, sans-serif;
  color: #6d237e;
  font-size: 32px;
}

.list-grid {
  display: -ms-grid;
  display: grid;
  margin-bottom: 0px;
  padding-left: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.list-grid.margin-top {
  grid-column-gap: 29px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.icon-grid-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ecebea;
  border-radius: 1px;
}

.circle-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
  background-color: #f38d25;
}

.circle-big {
  width: 60px;
  height: 60px;
}

.text-block-30 {
  font-family: 'Made tommy soft personal use', sans-serif;
}

.text-block-31 {
  font-family: 'Made tommy soft personal use', sans-serif;
}

.text-block-32 {
  font-family: 'Made tommy soft personal use', sans-serif;
}

.text-block-33 {
  font-family: 'Made tommy soft personal use', sans-serif;
}

.text-block-34 {
  font-family: 'Made tommy soft personal use', sans-serif;
}

.txt-lista {
  font-family: 'Made tommy soft personal use', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.margin-top {
  display: -ms-grid;
  display: grid;
  margin-top: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.margin-top.dn {
  display: none;
}

.dot-list-item-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-35 {
  font-family: 'Made tommy soft personal use', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.large-heading-3 {
  margin-bottom: 24px;
  font-size: 54px;
  line-height: 1;
}

.h6-small {
  font-family: 'Made tommy soft personal use', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.icon-large {
  width: 156px;
  margin-bottom: 12px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.grid-thirds {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-thirds.gapless-columns {
  grid-column-gap: 0px;
}

.grid-thirds.gapless-columns.gapless-rows {
  grid-gap: 2px;
  background-color: #f08d33;
  padding: 0;
  border-radius: 10px;

  .padded-grid-item {
    background-color: #6d237e;
  }
}

.background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  opacity: 0.15;
}

.centered-grid-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.padded-grid-item {
  padding: 36px;
}

.padded-grid-item.border-sides-white-thick {
  border-right: 1px solid #6d237e;
  border-left: 1px solid #6d237e;
}

.padded-grid-item.border-bottom-white-thick {
  border-bottom: 1px solid #6d237e;
}

.padded-grid-item.border-bottom-white-thick.border-sides-white-thick {
  border-right: 1px solid #6d237e;
  border-left: 1px solid #6d237e;
  border-bottom-width: 1px;
}

.subheading {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
}

.section-title-2 {
  max-width: 612px;
  margin-right: auto;
  margin-bottom: 72px;
  margin-left: auto;
  text-align: center;
}

.works-div {
  padding-right: 15px;
  padding-left: 10px;
  text-align: center;
}

.works-div.border {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none transparent;
  border-radius: 0px;
  background-color: #000;
  box-shadow: 0 0 9px 0 #f3f3f3;
}

.feat-big-text {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  text-align: left;
  text-transform: capitalize;
}

.feat-big-text.titulo-funcoes {
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: 'Made tommy soft personal use', sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: transparent;
}

.demo-grid {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  grid-column-gap: 20px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-span-14 {
  font-size: 16px;
  font-weight: 400;
}

.main-container-8 {
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  background-color: transparent;
}

.image-120 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.works-image-2 {
  width: 100%;
  height: 400px;
  max-width: none;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none;
  border-color: #000;
  border-radius: 0px;
}

.botao-borda-txt {
  font-size: 20px;
  font-weight: 500;
}

.icon-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  padding-top: 0px;
  padding-bottom: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 1px solid #ecebea;
  border-radius: 1px;
}

.icon-list-item.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-list-item.align-center.projetos4 {
  margin-bottom: 0px;
  padding-right: 40px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom-style: none;
  border-bottom-color: #e5375b;
  border-radius: 0px;
}

.icon-extra-large {
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.content-width-large {
  width: 100%;
  max-width: 612px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  direction: ltr;
}

.content-width-large.projetos3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  padding-left: 0px;
  list-style-type: none;
}

.heading-3 {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 500;
}

.text-block-6 {
  padding-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #868792;
  font-weight: 300;
}

.dots {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 100px;
  background-color: #8491a0;
}

.brower-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 37px;
  padding-left: 16px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #181823;
}

.heading_55px {
  display: inline-block;
  width: 100%;
  max-width: 780px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 55px;
  line-height: 110%;
}

.heading_55px._24px-bottom {
  margin-bottom: 24px;
}

.wrapper-v2 {
  width: 100%;
  height: 100%;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
}

.dribbble-image {
  height: 660px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url('../images/parallax.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.normal-wrapper._120px-bottom_m {
  margin-bottom: 120px;
}

.paragraph_18px {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
}

.paragraph_18px.light-grey {
  color: #8491a0;
}

.paragraph_18px.light-grey._40px-bottom_m {
  margin-bottom: 40px;
}

.dribbble-section {
  display: block;
  padding-top: 70px;
  padding-bottom: 0px;
}

.animated-link-button {
  display: inline-block;
  border-bottom: 1px solid #5b6876;
  -webkit-transition: color 350ms cubic-bezier(.165, .84, .44, 1), padding 350ms cubic-bezier(.165, .84, .44, 1), background-color 350ms cubic-bezier(.165, .84, .44, 1);
  transition: color 350ms cubic-bezier(.165, .84, .44, 1), padding 350ms cubic-bezier(.165, .84, .44, 1), background-color 350ms cubic-bezier(.165, .84, .44, 1);
  color: #181823;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
}

.animated-link-button:hover {
  padding-right: 16px;
  padding-left: 16px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5221e6), to(#5221e6));
  background-image: linear-gradient(180deg, #5221e6, #5221e6);
  color: #fff;
}

.animated-link-button.white {
  color: #fff;
}

.social-link-image {
  max-height: 20px;
}

.footer-2-logo {
  margin-bottom: 48px;
}

.underline-line {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0%;
  height: 1px;
  background-color: #264c51;
}

.underline-line.bg-white {
  background-color: #fff;
}

.social-link-item {
  margin-right: 9px;
  margin-left: 9px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.text-white {
  color: #fff;
}

.social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -9px;
  margin-left: -9px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-links.footer-social-links {
  margin-top: 48px;
  margin-bottom: 24px;
}

.footer-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-meta-item {
  margin-left: 24px;
}

.footer-meta-item.align-center {
  margin-right: 12px;
  margin-left: 12px;
}

.underline-container {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: rgba(8, 38, 42, 0.1);
}

.underline-container.bg-white {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-2 {
  position: relative;
  padding-top: 96px;
  padding-bottom: 70px;
  color: #fff;
  &:before {
    content: '';
    width: 100%;
    height: calc(100% - 250px);
    background-color: #3c3c3c;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    display: flex;
}
}

.footer-heading {
  margin-bottom: 24px;
}

.footer-2-bottom-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-2-top-row {
  padding-top: 60px;
  padding-bottom: 60px;
  justify-items: center;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #f38d25;
  text-align: center;
}

.main-container-9 {
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
  z-index: 2;
}

.horizontal-rule {
  display: none;
  height: 1px;
  margin-top: 72px;
  margin-bottom: 48px;
  clear: left;
  background-color: rgba(255, 255, 255, 0.1);
}

.small-text {
  font-family: 'Made tommy soft personal use', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.text-span-15 {
  font-size: 26px;
  font-weight: 700;
}

.image-121 {
  width: 16%;
  max-width: none;
}

.image-121.iconparalax {
  width: 10%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.div-block-5 {
  width: 100px;
  height: 4px;
  background-color: #6d237e;
}

.wrapper-2 {
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #1b1b1b;
  text-align: center;
}

.small-text-2 {
  font-family: 'Made tommy soft personal use', sans-serif;
  color: #868686;
  font-size: 15px;
  line-height: 1.5;
}

.link {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.social-icon {
  width: 16px;
  height: 16px;
}

.social-icon.trip {
  width: 20px;
  height: auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.accordion-group {
  border-bottom: 1px solid rgba(20, 20, 20, 0.1);
}

.accordion-title-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.tabcursos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dot-list-item-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7e828f;
  font-size: 18px;
}

.accordion-arrow {
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(17, 148, 76, 0.09);
}

.accordion-heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: 'Made tommy soft personal use', sans-serif;
  color: #494949;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.content-width-extra-large-2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: none;
  grid-auto-columns: 1fr;
  grid-column-gap: 56px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.accordion-content {
  display: block;
}

.accordion-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.accordion-item-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #f4f4f4;
  }
}

.accordion-item-title:hover {
  color: #6d237e;
}

.accordion-item-title:active {
  color: #6d237e;
}

.accordion-heading {
  margin-bottom: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: 'Made tommy soft personal use', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.accordion-heading:hover {
  color: #6d237e;
}

.accordion-item-content-wrapper {
  overflow: hidden;
}

.accordion-item-content {
  padding-bottom: 24px;
}

.text-block-36 {
  font-family: 'Made tommy soft personal use', sans-serif;
  color: #525252;
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
}

.link-block-7 {
  margin-top: 20px;
}

.text-space-left-large-2 {
  margin-left: 10px;
}

.h6-small-2 {
  font-size: 16px;
  line-height: 24px;
}

.text-block-37 {
  font-family: 'Made tommy soft personal use', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

@media screen and (min-width: 1920px) {
  .slider.slider-large.sliderfull {
    max-height: 700px;
  }

  .image-5 {
    width: 100%;
    max-height: 700px;
    max-width: none;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .section-8.galeria {
    background-image: none;
  }
}

@media screen and (max-width: 991px) {
  .nav-menu-wrapper-2 {
    padding: 16px;
    border: 1px solid #ecebea;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  }

  .button-2.small.outline-white.bt {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .text-block-21.whtas-txt-2.whts-big {
    line-height: 22px;
  }

  .text-block-21.whtas-txt-2.whts-big {
    line-height: 22px;
  }

  .text-block-21.whtas-txt-2.whts-big {
    line-height: 22px;
  }

  .navbar {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .menu-button {
    margin-left: 12px;
    padding: 0px;
    background-color: transparent;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .form-input-2 {
    box-shadow: 1px 1px 3px 0 transparent;
  }

  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .nav-links.nav-links-1 {
    margin-left: 0px;
  }

  .nav-menu-button-wrapper {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .nav-link-2 {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0px;
  }

  .menu-cross-icon {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
  }

  .hero-grid-2 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .hero-grid-2.grid-sem-margin {
    display: block;
  }

  .hero-image {
    width: auto;
    height: auto;
    max-width: 100%;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent;
  }

  .subtitulo.dn {
    text-align: center;
  }

  .hero-section {
    height: auto;
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .hero-content-2 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    text-align: center;
  }

  .section-5 {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .row.row-split-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .image-119 {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .div-block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .icon-list.icon-list-vertical {
    grid-row-gap: 36px;
  }

  .body-heading-2.titulowhite.titulo-3 {
    text-align: center;
  }

  .body-heading-2.titulowhite.titulo-3 {
    text-align: center;
  }

  .margin-top-2 {
    margin-top: 0px;
  }

  .content-width-small {
    width: 90%;
  }

  .section {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .hero-sub-heading {
    padding-right: 0px;
  }

  .hero-sub-heading.sublack.sub_titulo.menor {
    text-align: center;
  }

  .boxed {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .detailed-form-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .container-large.overlay-image {
    margin-left: 0px;
  }

  .image-with-box-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .boxed-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .container-large-2 {
    max-width: 512px;
  }

  .heading.titulo-form {
    text-align: center;
  }

  .form-label-2 {
    display: none;
  }

  .big-paragraph.txt.text-form {
    text-align: center;
  }

  .card-body {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .form-feedback {
    margin-top: 12px;
  }

  .heading-centered {
    margin-bottom: 40px;
  }

  .section-8 {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .grid-quarters {
    margin-right: 20px;
    margin-left: 20px;
  }

  .container-large-3 {
    max-width: 512px;
  }

  .badge-group {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .grid-halves-2 {
    justify-items: center;
    grid-row-gap: 12px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .margin-top {
    margin-top: 24px;
  }

  .grid-thirds {
    max-width: 100%;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .padded-grid-item {
    padding: 24px;
  }

  .section-title-2 {
    margin-bottom: 60px;
  }

  .works-div {
    padding-right: 0px;
    padding-left: 0px;
  }

  .feat-big-text {
    font-size: 20px;
  }

  .demo-grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .icon-extra-large {
    width: 96px;
    height: 96px;
  }

  .content-width-large {
    margin-right: 0px;
    margin-left: 0px;
  }

  .content-width-large.projetos3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .dribbble-image {
    height: 480px;
    background-size: cover;
  }

  .dribbble-section {
    padding: 80px 40px;
  }
}

@media screen and (max-width: 767px) {
  .modal-search-form {
    padding: 12px;
  }

  .nav-functions {
    display: none;
  }

  .hero-image {
    width: 100%;
  }

  .hero-content-2 {
    width: 100%;
  }

  .slider {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
  }

  .row.row-split-content {
    grid-row-gap: 36px;
  }

  .icon-list-item-2 {
    margin-bottom: 16px;
    padding-bottom: 16px;
  }

  .circle-small-3.margin-right {
    margin-right: 12px;
  }

  .icon-list.icon-list-vertical {
    grid-row-gap: 24px;
  }

  .content-width-medium {
    width: 100%;
  }

  .body-heading-2 {
    font-size: 35px;
  }

  .content-width-small {
    max-width: 100%;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .content-width-medium-2 {
    width: 100%;
  }

  .boxed {
    padding: 24px;
  }

  .text-large {
    font-size: 16px;
    line-height: 24px;
  }

  .section-6 {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .button-4.button-large {
    padding: 16px 24px;
    font-size: 16px;
    line-height: 24px;
  }

  .large-heading {
    font-size: 32px;
    line-height: 38px;
  }

  .boxed-2 {
    padding: 24px;
  }

  .button-5.icon-button.overlay-slider-button-left {
    left: 50%;
    top: auto;
    right: auto;
    bottom: -28px;
    -webkit-transform: translate(-100%, 0px);
    -ms-transform: translate(-100%, 0px);
    transform: translate(-100%, 0px);
  }

  .button-5.icon-button.overlay-slider-button-right {
    left: auto;
    top: auto;
    right: 50%;
    bottom: -28px;
    -webkit-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    transform: translate(100%, 0px);
  }

  .large-heading-2 {
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 48px;
  }

  .main-container-2 {
    padding-right: 24px;
    padding-left: 24px;
  }

  .big-paragraph {
    font-size: 18px;
  }

  .card-body {
    padding: 16px;
  }

  .body-heading {
    font-size: 35px;
  }

  .main-container-6 {
    padding-right: 24px;
    padding-left: 24px;
  }

  .grid-quarters {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .slider-2.text-box-slider {
    margin-bottom: 28px;
  }

  .slide-image {
    width: 100%;
  }

  .body-heading-3 {
    font-size: 35px;
  }

  .icon-grid-list-item {
    padding-bottom: 16px;
  }

  .large-heading-3 {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 42px;
  }

  .icon-large {
    width: 82px;
  }

  .grid-thirds {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .centered-grid-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .padded-grid-item.border-sides-white-thick {
    border-right-style: none;
    border-left-style: none;
  }

  .padded-grid-item.border-bottom-white-thick {
    border-bottom-style: none;
  }

  .padded-grid-item.border-bottom-white-thick.border-sides-white-thick {
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
  }

  .section-title-2 {
    margin-bottom: 48px;
  }

  .main-container-8 {
    padding-right: 24px;
    padding-left: 24px;
  }

  .text-space-left-large {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icon-list-item {
    margin-bottom: 16px;
    padding-bottom: 16px;
  }

  .icon-list-item.align-center.projetos4 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .content-width-large {
    margin-right: 0px;
    margin-left: 0px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .content-width-large.projetos3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading_55px {
    font-size: 32px;
  }

  .dribbble-image {
    background-size: cover;
  }

  .normal-wrapper._120px-bottom_m {
    margin-bottom: 64px;
  }

  .dribbble-section {
    padding: 64px 20px;
  }

  .footer-2-logo {
    margin-bottom: 24px;
  }

  .footer-meta {
    margin-top: 36px;
  }

  .footer-2-top-row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .main-container-9 {
    padding-right: 24px;
    padding-left: 24px;
  }

  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .image {
    width: 100px;
  }

  .modal-search-form {
    margin-right: 12px;
    margin-left: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-menu-wrapper-2 {
    padding: 12px;
  }

  .button-2.small.bt-header {
    display: block;
  }

  .button-2.small.outline-white.bt {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }

  .button-2.small.outline-white.whatsapp.pad-20.whats-2 {
    width: 100%;
    padding-left: 10px;
  }

  .button-2.small.outline-white.whatsapp.pad-20.whats-2.section__whatsapp {
    max-width: 100%;
  }

  .button-2.small.botao-borda {
    margin-bottom: 20px;
  }

  .menu-icon {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .container-8 {
    padding-right: 12px;
    padding-left: 12px;
  }

  .navbar {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .menu-button {
    overflow: hidden;
  }

  .form-input-2 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .nav-link-2 {
    color: #6d237e;
  }

  .button-3.form-search-button {
    margin-top: 12px;
    margin-left: 0px;
  }

  .button-3.button-block {
    font-size: 16px;
  }

  .menu-cross-icon {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .heading-12 {
    font-size: 24px;
    line-height: 30px;
  }

  .hero-grid-2 {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
  }

  .hero-grid-2.grid-sem-margin {
    margin-top: 0px;
    margin-bottom: 70px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero-image {
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-left: 0px;
  }

  .hero-image.hero-topo {
    display: block;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .wrapper._0 {
    padding-bottom: 0px;
  }

  .subtitulo {
    min-height: 0em;
    margin-bottom: 0px;
    line-height: 24px;
    text-align: center;
  }

  .hero-section {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .hero-content-2 {
    margin-top: 20px;
  }

  .slider-arrow {
    left: 6px;
  }

  .slider-arrow.sliderpainel {
    display: none;
  }

  .slider-arrow.slider-arrow-right {
    right: 6px;
  }

  .slider-arrow.slider-arrow-right.sliderpainelright {
    display: none;
    width: 48px;
  }

  .section-5 {
    padding: 48px 10px;
  }

  .section-5.sectionpainel {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .container-5 {
    padding-right: 12px;
    padding-left: 12px;
  }

  .container-5.containerfull {
    max-width: none;
  }

  .row.row-split-content {
    -ms-grid-columns: minmax(0px, 1fr);
    grid-template-columns: minmax(0px, 1fr);
  }

  .display-none {
    display: block;
  }

  .image-119 {
    max-width: 100%;
  }

  .icon-list-item-2 {
    margin-bottom: 0px;
    padding-bottom: 8px;
  }

  .div-block {
    margin-bottom: 0px;
  }

  .circle-small-3.margin-right {
    width: 28px;
    height: 28px;
  }

  .heading-14.link-14 {
    font-size: 26px;
    line-height: 32px;
  }

  .icon-list.icon-list-vertical {
    margin-bottom: 10px;
  }

  .body-heading-2 {
    font-size: 28px;
  }

  .body-heading-2.titulowhite.titulo-3 {
    font-family: Pantonnarrowdemo, sans-serif;
    color: transparent;
    font-size: 31px;
    line-height: 32px;
    text-align: left;
  }

  .body-heading-2.titulowhite.titulo-3 {
    font-size: 26px;
    line-height: 32px;
  }

  .dot-list-item {
    font-size: 18px;
  }

  .margin-top-2 {
    margin-top: 8px;
  }

  .text-span-9 {
    color: #6d237e;
    font-size: 30px;
    text-align: left;
  }

  .content-width-small {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .text-block-29 {
    font-size: 18px;
    line-height: 22px;
  }

  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .section.bg-gray-4.novoform {
    background-position: 50% 50%;
    background-size: cover;
  }

  .section.bg-gray-4.fichatecnica {
    padding-bottom: 0px;
  }

  .section.section-cta {
    padding-top: 70px;
    padding-bottom: 20px;
  }

  .hero-sub-heading {
    font-size: 17px;
    line-height: 1.3;
  }

  .hero-sub-heading.sublack.sub_titulo {
    width: 100%;
    line-height: 25px;
  }

  .hero-sub-heading.sublack.sub_titulo.menor {
    padding-bottom: 0px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }

  .hero-sub-heading.sublack.sub_titulo.m0 {
    font-size: 18px;
    line-height: 22px;
  }

  .hero-sub-heading.sublack.sub_titulo.m0 {
    font-size: 18px;
    line-height: 22px;
  }

  .hero-sub-heading.tituloinvista {
    font-size: 18px;
    line-height: 1.2;
  }

  .container-9 {
    max-width: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }

  .large-text {
    font-size: 16px;
    line-height: 24px;
  }

  .large-text.txt-footer {
    font-size: 16px;
  }

  .select-field-unstyled {
    width: 120%;
  }

  .boxed.portrait-quote-box-content {
    left: 12px;
    right: 12px;
    bottom: 12px;
  }

  .boxed.square-top.boxed-small.box-passei {
    padding-top: 100px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .main-container {
    padding-right: 18px;
    padding-left: 18px;
  }

  .form-grid-halves {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .detailed-form-grid {
    grid-row-gap: 48px;
  }

  .form-grid-vertical {
    grid-row-gap: 12px;
  }

  .form-success {
    padding: 12px;
  }

  .portrait-quote-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .container-large.overlay-image {
    margin-top: 18px;
  }

  .form-error {
    padding: 12px;
  }

  .button-4 {
    width: 100%;
    margin-top: 10px;
  }

  .button-4.button-large.botao__100 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .large-heading {
    margin-bottom: 18px;
  }

  .image-with-box-row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .rounded-large {
    display: block;
  }

  .grid {
    display: block;
    grid-auto-flow: row;
  }

  .boxed-2.increased-padding {
    padding: 24px;
  }

  .boxed-2.increased-padding.shadow {
    display: block;
  }

  .boxed-2.increased-padding.shadow.box_-especialista--texto {
    left: 0px;
  }

  .button-5.icon-button.overlay-slider-button-left {
    bottom: -40px;
  }

  .button-5.icon-button.overlay-slider-button-right {
    bottom: -40px;
  }

  .large-text-2 {
    font-size: 16px;
    line-height: 24px;
  }

  .section-7 {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .boxed-form {
    padding: 24px;
  }

  .main-container-2 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .container-large-2.align-center {
    max-width: none;
  }

  .section-title {
    margin-bottom: 36px;
  }

  .form-grid-halves-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading {
    font-size: 30px;
    line-height: 32px;
  }

  .heading.titulo-form {
    line-height: 32px;
    text-align: center;
  }

  .form-label-2 {
    display: none;
  }

  .bold-text-3 {
    line-height: 32px;
    text-align: left;
  }

  .big-paragraph.txt.text-form {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .card-body {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 20px;
  }

  .body-heading {
    font-size: 28px;
  }

  .main-container-6 {
    padding-top: 40px;
  }

  .section-8 {
    padding-top: 48px;
    padding-bottom: 0px;
  }

  .section-8.galeria {
    padding-top: 0px;
  }

  .section-8.galeria {
    padding-top: 0px;
  }

  .grid-quarters {
    margin-right: 0px;
    margin-left: 0px;
    grid-row-gap: 12px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .container-small-2.align-center {
    display: block;
  }

  .mask-2 {
    overflow: hidden;
  }

  .slide-with-caption {
    padding-bottom: 0px;
  }

  .slide-with-caption.slidepadding {
    padding-bottom: 30px;
  }

  .text-span-11 {
    color: #1a1a1a;
  }

  .slider-2 {
    margin-bottom: 56px;
  }

  .slider-2.text-box-slider {
    max-width: 100%;
  }

  .container-6 {
    max-width: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }

  .button-div.button-leftg {
    margin-bottom: 40px;
  }

  .container-large-3 {
    max-width: 100%;
  }

  .slide-image {
    height: auto;
    margin-bottom: 10px;
  }

  .badge-2.badge-group-item.bg-white {
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
  }

  .badge-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: left;
  }

  .grid-halves-2 {
    display: block;
  }

  .container-4 {
    padding-right: 12px;
    padding-left: 12px;
  }

  .body-heading-3 {
    font-size: 28px;
  }

  .body-heading-3.tit_sessao {
    font-size: 32px;
    line-height: 32px;
  }

  .body-heading-3.tit_sessao.titsolucoes {
    font-size: 28px;
    line-height: 28px;
  }

  .main-container-7 {
    padding-right: 18px;
    padding-left: 18px;
  }

  .main-container-7._100 {
    padding-right: 0px;
  }

  .list-grid.margin-top {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .icon-grid-list-item {
    padding-bottom: 8px;
    border-bottom-style: none;
  }

  .margin-top {
    margin-top: 16px;
  }

  .icon-large {
    width: 156px;
  }

  .grid-thirds {
    grid-row-gap: 24px;
  }

  .grid-thirds.gapless-columns {
    grid-row-gap: 24px;
  }

  .centered-grid-item {
    max-width: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .padded-grid-item {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .subheading {
    margin-bottom: 12px;
  }

  .section-title-2 {
    margin-bottom: 36px;
  }

  .works-div.border {
    display: block;
    height: auto;
    margin-bottom: 10px;
    padding: 0px;
  }

  .feat-big-text {
    font-size: 18px;
    font-weight: 700;
  }

  .demo-grid {
    padding-right: 0px;
    padding-left: 0px;
    grid-row-gap: 18px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .main-container-8 {
    padding-top: 40px;
  }

  .works-image-2 {
    height: 100%;
    margin-bottom: 0px;
    padding-top: 0px;
  }

  .botao-borda-txt {
    font-size: 16px;
  }

  .text-space-left-large {
    margin-left: 12px;
  }

  .icon-list-item.align-center.projetos4 {
    padding-right: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icon-extra-large {
    width: 72px;
    height: 72px;
  }

  .content-width-large {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .content-width-large.projetos3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading-3 {
    font-size: 28px;
    text-align: center;
  }

  .text-block-6 {
    font-size: 16px;
    text-align: center;
  }

  .dribbble-section {
    display: none;
  }

  .footer-2-logo {
    margin-bottom: 0px;
  }

  .footer-meta {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 12px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer-meta-item {
    margin-left: 0px;
  }

  .footer-2 {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
  }

  .horizontal-rule {
    margin-top: 48px;
  }

  .text-span-15 {
    font-size: 18px;
  }

  .image-121 {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .image-121.iconparalax {
    display: none;
    width: 25%;
  }

  .tabcursos {
    padding-right: 15px;
    padding-left: 15px;
  }

  .content-width-extra-large-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .text-space-left-large-2 {
    margin-left: 12px;
  }
}

@media screen and (max-width: 479px) {
  #w-node-de8117640a18-13821bcc {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@font-face {
  font-family: 'Made tommy soft personal use';
  src: url('../fonts/MADE-Tommy-Soft-Black-PERSONAL-USE.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Made tommy soft personal use';
  src: url('../fonts/MADE-Tommy-Soft-Regular-PERSONAL-USE.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Made tommy soft personal use';
  src: url('../fonts/MADE-Tommy-Soft-Bold-PERSONAL-USE.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Made tommy soft personal use';
  src: url('../fonts/MADE-Tommy-Soft-Medium-PERSONAL-USE.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pantonnarrowdemo';
  src: url('../fonts/PantonNarrowDemo-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pantonnarrowdemo';
  src: url('../fonts/PantonNarrowDemo-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Made tommy soft personal use';
  src: url('../fonts/MADE-Tommy-Soft-Light-PERSONAL-USE.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}