// -----------------------------------------------------------
// RESPONSIVO
// Regras das Media QUeries para responsivo
// -----------------------------------------------------------

//Classe padrão do Container

$break-mobile-small: 426px;
$break-mobile: 568px;
$break-small: 767px;
$break-medium: 1023px;
$break-large: 1200px;

@mixin respond-to($media) {
  
  @if $media == xxs {
    @media only screen and (min-width: $break-mobile-small) { @content; }
  }


  @if $media == xs {
    @media only screen and (min-width: $break-mobile) { @content; }
  }

  @else if $media == sm {
    @media only screen and (min-width: $break-small) { @content; }
  }

  @else if $media == md {
    @media only screen and (min-width: $break-medium) { @content; }
  }

  @else if $media == lg{
    @media only screen and ( min-width: $break-large){ @content; }
  }

  @if $media == max_xxs {
    @media only screen and (max-width: $break-mobile-small) { @content; }
  }


  @if $media == max_xs {
    @media only screen and (max-width: $break-mobile) { @content; }
  }

  @else if $media == max_sm {
    @media only screen and (max-width: $break-small) { @content; }
  }

  @else if $media == max_md {
    @media only screen and (max-width: $break-medium) { @content; }
  }

  @else if $media == max_lg{
    @media only screen and ( max-width: $break-large){ @content; }
  }
}
