.#{$prefix}-icon {
    @include bkgImage('scrollbar.png',#161616, no-repeat $i, center, cover, initial );
    width: rem(28);
    height: rem(30);
    display: inline-block;
    
    @include respond-to(sm) {
        width: rem(30);
        height: rem(30);

    }

    @include m('phone'){
        background-position: rem(2) rem(3); 
        
        @include respond-to(sm) {
            background-position: rem(5) rem(2); 
        }
    }
    
    @include m('chat'){
        background-position: rem(-24);    
        
        
        @include respond-to(sm) {
            background-position: rem(-23) rem(3);    
        }
        
    }
    
    @include m('mail'){
        background-position: rem(-23) rem(2);    
        
        @include respond-to(sm) {
            background-position: rem(-24) rem(2);    

        }
        
        @include respond-to(md) {
            background-position: rem(-53) rem(-1);    

        }
        
    }
    
    @include m('support'){
        background-position: rem(-100); 
        
        @include respond-to(md) {
            background-position: rem(-117); 
        }
        
    }
    
    @include m('wpp'){
        background-position: rem(-138);    
    }
    
    @include m('empreendimentos'){
        background: url('../images/empreendimentos.png');
        width: rem(55);
        height: rem(55);
    }

    @include m('sala-comercial'){
        background: url('../images/sala-comercial.png');
        width: rem(72);
        height: rem(55);
    }
    
    @include m('metragem'){
        background: url('../images/metragem.png') no-repeat;
        background-size: contain;
        height: rem(20);
        width: rem(23);
    }
    
    @include m('metragem-black'){
        background: url('../images/metragem-black.png') no-repeat;
        background-size: contain;
        height: rem(20);
        width: rem(23);

    }
}

.#{$prefix}-whatsapp {
    @include bkgImage('whatsapp.png',#161616, no-repeat $i, center, contain, initial );
    width: rem(25);
    height: rem(30);
    display: inline-block;
    
    @include respond-to(sm) {
        height: rem(40);
        width: rem(27);
    }
}