//==========================================================================
// VARIAVEIS
// Definição das variavéis do Tema
// Não remover nenhuma das variavéis para evitar crash do SASS
//==========================================================================

// prefixo de todo o projeto.
$prefix: 'mq';



// CSS VARS
//==========================================================================
$i : !important;
$t : transparent;