// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-m-a-s-c-o-t-e-m-l-a-r-ai-2-name: 'MASCOTE M.LAR-ai (2)';
$-m-a-s-c-o-t-e-m-l-a-r-ai-2-x: 2010px;
$-m-a-s-c-o-t-e-m-l-a-r-ai-2-y: 2062px;
$-m-a-s-c-o-t-e-m-l-a-r-ai-2-offset-x: -2010px;
$-m-a-s-c-o-t-e-m-l-a-r-ai-2-offset-y: -2062px;
$-m-a-s-c-o-t-e-m-l-a-r-ai-2-width: 441px;
$-m-a-s-c-o-t-e-m-l-a-r-ai-2-height: 451px;
$-m-a-s-c-o-t-e-m-l-a-r-ai-2-total-width: 4785px;
$-m-a-s-c-o-t-e-m-l-a-r-ai-2-total-height: 4307px;
$-m-a-s-c-o-t-e-m-l-a-r-ai-2-image: '../images/sprite.png';
$-m-a-s-c-o-t-e-m-l-a-r-ai-2-: (2010px, 2062px, -2010px, -2062px, 441px, 451px, 4785px, 4307px, '../images/sprite.png', 'MASCOTE M.LAR-ai (2)', );
$-reta-ngulo-19-1-reta-ngulo-19-name: 'Retângulo-19_1Retângulo 19';
$-reta-ngulo-19-1-reta-ngulo-19-x: 4655px;
$-reta-ngulo-19-1-reta-ngulo-19-y: 1143px;
$-reta-ngulo-19-1-reta-ngulo-19-offset-x: -4655px;
$-reta-ngulo-19-1-reta-ngulo-19-offset-y: -1143px;
$-reta-ngulo-19-1-reta-ngulo-19-width: 127px;
$-reta-ngulo-19-1-reta-ngulo-19-height: 7px;
$-reta-ngulo-19-1-reta-ngulo-19-total-width: 4785px;
$-reta-ngulo-19-1-reta-ngulo-19-total-height: 4307px;
$-reta-ngulo-19-1-reta-ngulo-19-image: '../images/sprite.png';
$-reta-ngulo-19-1-reta-ngulo-19: (4655px, 1143px, -4655px, -1143px, 127px, 7px, 4785px, 4307px, '../images/sprite.png', 'Retângulo-19_1Retângulo 19', );
$bg-footer-name: 'bg-footer';
$bg-footer-x: 3985px;
$bg-footer-y: 877px;
$bg-footer-offset-x: -3985px;
$bg-footer-offset-y: -877px;
$bg-footer-width: 400px;
$bg-footer-height: 992px;
$bg-footer-total-width: 4785px;
$bg-footer-total-height: 4307px;
$bg-footer-image: '../images/sprite.png';
$bg-footer: (3985px, 877px, -3985px, -877px, 400px, 992px, 4785px, 4307px, '../images/sprite.png', 'bg-footer', );
$bg-jpg-p-1080-name: 'bg.jpg-p-1080';
$bg-jpg-p-1080-x: 0px;
$bg-jpg-p-1080-y: 3601px;
$bg-jpg-p-1080-offset-x: 0px;
$bg-jpg-p-1080-offset-y: -3601px;
$bg-jpg-p-1080-width: 1080px;
$bg-jpg-p-1080-height: 518px;
$bg-jpg-p-1080-total-width: 4785px;
$bg-jpg-p-1080-total-height: 4307px;
$bg-jpg-p-1080-image: '../images/sprite.png';
$bg-jpg-p-1080: (0px, 3601px, 0px, -3601px, 1080px, 518px, 4785px, 4307px, '../images/sprite.png', 'bg.jpg-p-1080', );
$bg-jpg-p-500-name: 'bg.jpg-p-500';
$bg-jpg-p-500-x: 3985px;
$bg-jpg-p-500-y: 3347px;
$bg-jpg-p-500-offset-x: -3985px;
$bg-jpg-p-500-offset-y: -3347px;
$bg-jpg-p-500-width: 500px;
$bg-jpg-p-500-height: 240px;
$bg-jpg-p-500-total-width: 4785px;
$bg-jpg-p-500-total-height: 4307px;
$bg-jpg-p-500-image: '../images/sprite.png';
$bg-jpg-p-500: (3985px, 3347px, -3985px, -3347px, 500px, 240px, 4785px, 4307px, '../images/sprite.png', 'bg.jpg-p-500', );
$bg-jpg-p-800-name: 'bg.jpg-p-800';
$bg-jpg-p-800-x: 3985px;
$bg-jpg-p-800-y: 1879px;
$bg-jpg-p-800-offset-x: -3985px;
$bg-jpg-p-800-offset-y: -1879px;
$bg-jpg-p-800-width: 800px;
$bg-jpg-p-800-height: 384px;
$bg-jpg-p-800-total-width: 4785px;
$bg-jpg-p-800-total-height: 4307px;
$bg-jpg-p-800-image: '../images/sprite.png';
$bg-jpg-p-800: (3985px, 1879px, -3985px, -1879px, 800px, 384px, 4785px, 4307px, '../images/sprite.png', 'bg.jpg-p-800', );
$bg-jpg-name: 'bg.jpg';
$bg-jpg-x: 0px;
$bg-jpg-y: 2823px;
$bg-jpg-offset-x: 0px;
$bg-jpg-offset-y: -2823px;
$bg-jpg-width: 1600px;
$bg-jpg-height: 768px;
$bg-jpg-total-width: 4785px;
$bg-jpg-total-height: 4307px;
$bg-jpg-image: '../images/sprite.png';
$bg-jpg: (0px, 2823px, 0px, -2823px, 1600px, 768px, 4785px, 4307px, '../images/sprite.png', 'bg.jpg', );
$bg2-p-1080-name: 'bg2_-p-1080';
$bg2-p-1080-x: 0px;
$bg2-p-1080-y: 4129px;
$bg2-p-1080-offset-x: 0px;
$bg2-p-1080-offset-y: -4129px;
$bg2-p-1080-width: 1080px;
$bg2-p-1080-height: 178px;
$bg2-p-1080-total-width: 4785px;
$bg2-p-1080-total-height: 4307px;
$bg2-p-1080-image: '../images/sprite.png';
$bg2-p-1080: (0px, 4129px, 0px, -4129px, 1080px, 178px, 4785px, 4307px, '../images/sprite.png', 'bg2_-p-1080', );
$bg2-p-500-name: 'bg2_-p-500';
$bg2-p-500-x: 2845px;
$bg2-p-500-y: 2727px;
$bg2-p-500-offset-x: -2845px;
$bg2-p-500-offset-y: -2727px;
$bg2-p-500-width: 500px;
$bg2-p-500-height: 83px;
$bg2-p-500-total-width: 4785px;
$bg2-p-500-total-height: 4307px;
$bg2-p-500-image: '../images/sprite.png';
$bg2-p-500: (2845px, 2727px, -2845px, -2727px, 500px, 83px, 4785px, 4307px, '../images/sprite.png', 'bg2_-p-500', );
$bg2-p-800-name: 'bg2_-p-800';
$bg2-p-800-x: 2010px;
$bg2-p-800-y: 2523px;
$bg2-p-800-offset-x: -2010px;
$bg2-p-800-offset-y: -2523px;
$bg2-p-800-width: 800px;
$bg2-p-800-height: 132px;
$bg2-p-800-total-width: 4785px;
$bg2-p-800-total-height: 4307px;
$bg2-p-800-image: '../images/sprite.png';
$bg2-p-800: (2010px, 2523px, -2010px, -2523px, 800px, 132px, 4785px, 4307px, '../images/sprite.png', 'bg2_-p-800', );
$bg2-name: 'bg2_';
$bg2-x: 2180px;
$bg2-y: 3601px;
$bg2-offset-x: -2180px;
$bg2-offset-y: -3601px;
$bg2-width: 1600px;
$bg2-height: 264px;
$bg2-total-width: 4785px;
$bg2-total-height: 4307px;
$bg2-image: '../images/sprite.png';
$bg2-: (2180px, 3601px, -2180px, -3601px, 1600px, 264px, 4785px, 4307px, '../images/sprite.png', 'bg2_', );
$check-name: 'check';
$check-x: 4661px;
$check-y: 962px;
$check-offset-x: -4661px;
$check-offset-y: -962px;
$check-width: 64px;
$check-height: 64px;
$check-total-width: 4785px;
$check-total-height: 4307px;
$check-image: '../images/sprite.png';
$check: (4661px, 962px, -4661px, -962px, 64px, 64px, 4785px, 4307px, '../images/sprite.png', 'check', );
$cvtt-name: 'cvtt';
$cvtt-x: 4735px;
$cvtt-y: 962px;
$cvtt-offset-x: -4735px;
$cvtt-offset-y: -962px;
$cvtt-width: 44px;
$cvtt-height: 23px;
$cvtt-total-width: 4785px;
$cvtt-total-height: 4307px;
$cvtt-image: '../images/sprite.png';
$cvtt: (4735px, 962px, -4735px, -962px, 44px, 23px, 4785px, 4307px, '../images/sprite.png', 'cvtt', );
$expand-screen-name: 'expand-screen';
$expand-screen-x: 3985px;
$expand-screen-y: 2825px;
$expand-screen-offset-x: -3985px;
$expand-screen-offset-y: -2825px;
$expand-screen-width: 512px;
$expand-screen-height: 512px;
$expand-screen-total-width: 4785px;
$expand-screen-total-height: 4307px;
$expand-screen-image: '../images/sprite.png';
$expand-screen: (3985px, 2825px, -3985px, -2825px, 512px, 512px, 4785px, 4307px, '../images/sprite.png', 'expand-screen', );
$favicon-name: 'favicon';
$favicon-x: 4661px;
$favicon-y: 1036px;
$favicon-offset-x: -4661px;
$favicon-offset-y: -1036px;
$favicon-width: 32px;
$favicon-height: 32px;
$favicon-total-width: 4785px;
$favicon-total-height: 4307px;
$favicon-image: '../images/sprite.png';
$favicon: (4661px, 1036px, -4661px, -1036px, 32px, 32px, 4785px, 4307px, '../images/sprite.png', 'favicon', );
$icon-academia-name: 'icon-academia';
$icon-academia-x: 4395px;
$icon-academia-y: 1143px;
$icon-academia-offset-x: -4395px;
$icon-academia-offset-y: -1143px;
$icon-academia-width: 250px;
$icon-academia-height: 250px;
$icon-academia-total-width: 4785px;
$icon-academia-total-height: 4307px;
$icon-academia-image: '../images/sprite.png';
$icon-academia: (4395px, 1143px, -4395px, -1143px, 250px, 250px, 4785px, 4307px, '../images/sprite.png', 'icon-academia', );
$icon-academia-1-name: 'icon-academia_1';
$icon-academia-1-x: 4395px;
$icon-academia-1-y: 1403px;
$icon-academia-1-offset-x: -4395px;
$icon-academia-1-offset-y: -1403px;
$icon-academia-1-width: 250px;
$icon-academia-1-height: 250px;
$icon-academia-1-total-width: 4785px;
$icon-academia-1-total-height: 4307px;
$icon-academia-1-image: '../images/sprite.png';
$icon-academia-1: (4395px, 1403px, -4395px, -1403px, 250px, 250px, 4785px, 4307px, '../images/sprite.png', 'icon-academia_1', );
$icon-bike-name: 'icon-bike';
$icon-bike-x: 4495px;
$icon-bike-y: 2273px;
$icon-bike-offset-x: -4495px;
$icon-bike-offset-y: -2273px;
$icon-bike-width: 250px;
$icon-bike-height: 250px;
$icon-bike-total-width: 4785px;
$icon-bike-total-height: 4307px;
$icon-bike-image: '../images/sprite.png';
$icon-bike: (4495px, 2273px, -4495px, -2273px, 250px, 250px, 4785px, 4307px, '../images/sprite.png', 'icon-bike', );
$img-m-lar-p-1080-name: 'img-m-lar-p-1080';
$img-m-lar-p-1080-x: 2845px;
$img-m-lar-p-1080-y: 1235px;
$img-m-lar-p-1080-offset-x: -2845px;
$img-m-lar-p-1080-offset-y: -1235px;
$img-m-lar-p-1080-width: 1080px;
$img-m-lar-p-1080-height: 1171px;
$img-m-lar-p-1080-total-width: 4785px;
$img-m-lar-p-1080-total-height: 4307px;
$img-m-lar-p-1080-image: '../images/sprite.png';
$img-m-lar-p-1080: (2845px, 1235px, -2845px, -1235px, 1080px, 1171px, 4785px, 4307px, '../images/sprite.png', 'img-m-lar-p-1080', );
$img-m-lar-p-500-name: 'img-m-lar-p-500';
$img-m-lar-p-500-x: 3985px;
$img-m-lar-p-500-y: 2273px;
$img-m-lar-p-500-offset-x: -3985px;
$img-m-lar-p-500-offset-y: -2273px;
$img-m-lar-p-500-width: 500px;
$img-m-lar-p-500-height: 542px;
$img-m-lar-p-500-total-width: 4785px;
$img-m-lar-p-500-total-height: 4307px;
$img-m-lar-p-500-image: '../images/sprite.png';
$img-m-lar-p-500: (3985px, 2273px, -3985px, -2273px, 500px, 542px, 4785px, 4307px, '../images/sprite.png', 'img-m-lar-p-500', );
$img-m-lar-p-800-name: 'img-m-lar-p-800';
$img-m-lar-p-800-x: 3985px;
$img-m-lar-p-800-y: 0px;
$img-m-lar-p-800-offset-x: -3985px;
$img-m-lar-p-800-offset-y: 0px;
$img-m-lar-p-800-width: 800px;
$img-m-lar-p-800-height: 867px;
$img-m-lar-p-800-total-width: 4785px;
$img-m-lar-p-800-total-height: 4307px;
$img-m-lar-p-800-image: '../images/sprite.png';
$img-m-lar-p-800: (3985px, 0px, -3985px, 0px, 800px, 867px, 4785px, 4307px, '../images/sprite.png', 'img-m-lar-p-800', );
$img-m-lar-name: 'img-m-lar';
$img-m-lar-x: 2845px;
$img-m-lar-y: 0px;
$img-m-lar-offset-x: -2845px;
$img-m-lar-offset-y: 0px;
$img-m-lar-width: 1130px;
$img-m-lar-height: 1225px;
$img-m-lar-total-width: 4785px;
$img-m-lar-total-height: 4307px;
$img-m-lar-image: '../images/sprite.png';
$img-m-lar: (2845px, 0px, -2845px, 0px, 1130px, 1225px, 4785px, 4307px, '../images/sprite.png', 'img-m-lar', );
$logo-m-lar-empreendimentos-name: 'logo-m-lar-empreendimentos_';
$logo-m-lar-empreendimentos-x: 4661px;
$logo-m-lar-empreendimentos-y: 877px;
$logo-m-lar-empreendimentos-offset-x: -4661px;
$logo-m-lar-empreendimentos-offset-y: -877px;
$logo-m-lar-empreendimentos-width: 100px;
$logo-m-lar-empreendimentos-height: 75px;
$logo-m-lar-empreendimentos-total-width: 4785px;
$logo-m-lar-empreendimentos-total-height: 4307px;
$logo-m-lar-empreendimentos-image: '../images/sprite.png';
$logo-m-lar-empreendimentos-: (4661px, 877px, -4661px, -877px, 100px, 75px, 4785px, 4307px, '../images/sprite.png', 'logo-m-lar-empreendimentos_', );
$logo-marquise-name: 'logo-marquise';
$logo-marquise-x: 4395px;
$logo-marquise-y: 1663px;
$logo-marquise-offset-x: -4395px;
$logo-marquise-offset-y: -1663px;
$logo-marquise-width: 133px;
$logo-marquise-height: 138px;
$logo-marquise-total-width: 4785px;
$logo-marquise-total-height: 4307px;
$logo-marquise-image: '../images/sprite.png';
$logo-marquise: (4395px, 1663px, -4395px, -1663px, 133px, 138px, 4785px, 4307px, '../images/sprite.png', 'logo-marquise', );
$parallax-p-1080-name: 'parallax-p-1080';
$parallax-p-1080-x: 1090px;
$parallax-p-1080-y: 3601px;
$parallax-p-1080-offset-x: -1090px;
$parallax-p-1080-offset-y: -3601px;
$parallax-p-1080-width: 1080px;
$parallax-p-1080-height: 406px;
$parallax-p-1080-total-width: 4785px;
$parallax-p-1080-total-height: 4307px;
$parallax-p-1080-image: '../images/sprite.png';
$parallax-p-1080: (1090px, 3601px, -1090px, -3601px, 1080px, 406px, 4785px, 4307px, '../images/sprite.png', 'parallax-p-1080', );
$parallax-p-1600-name: 'parallax-p-1600';
$parallax-p-1600-x: 1610px;
$parallax-p-1600-y: 2823px;
$parallax-p-1600-offset-x: -1610px;
$parallax-p-1600-offset-y: -2823px;
$parallax-p-1600-width: 1600px;
$parallax-p-1600-height: 601px;
$parallax-p-1600-total-width: 4785px;
$parallax-p-1600-total-height: 4307px;
$parallax-p-1600-image: '../images/sprite.png';
$parallax-p-1600: (1610px, 2823px, -1610px, -2823px, 1600px, 601px, 4785px, 4307px, '../images/sprite.png', 'parallax-p-1600', );
$parallax-p-2000-name: 'parallax-p-2000';
$parallax-p-2000-x: 0px;
$parallax-p-2000-y: 2062px;
$parallax-p-2000-offset-x: 0px;
$parallax-p-2000-offset-y: -2062px;
$parallax-p-2000-width: 2000px;
$parallax-p-2000-height: 751px;
$parallax-p-2000-total-width: 4785px;
$parallax-p-2000-total-height: 4307px;
$parallax-p-2000-image: '../images/sprite.png';
$parallax-p-2000: (0px, 2062px, 0px, -2062px, 2000px, 751px, 4785px, 4307px, '../images/sprite.png', 'parallax-p-2000', );
$parallax-p-2600-name: 'parallax-p-2600';
$parallax-p-2600-x: 0px;
$parallax-p-2600-y: 1075px;
$parallax-p-2600-offset-x: 0px;
$parallax-p-2600-offset-y: -1075px;
$parallax-p-2600-width: 2600px;
$parallax-p-2600-height: 977px;
$parallax-p-2600-total-width: 4785px;
$parallax-p-2600-total-height: 4307px;
$parallax-p-2600-image: '../images/sprite.png';
$parallax-p-2600: (0px, 1075px, 0px, -1075px, 2600px, 977px, 4785px, 4307px, '../images/sprite.png', 'parallax-p-2600', );
$parallax-p-500-name: 'parallax-p-500';
$parallax-p-500-x: 3220px;
$parallax-p-500-y: 2823px;
$parallax-p-500-offset-x: -3220px;
$parallax-p-500-offset-y: -2823px;
$parallax-p-500-width: 500px;
$parallax-p-500-height: 188px;
$parallax-p-500-total-width: 4785px;
$parallax-p-500-total-height: 4307px;
$parallax-p-500-image: '../images/sprite.png';
$parallax-p-500: (3220px, 2823px, -3220px, -2823px, 500px, 188px, 4785px, 4307px, '../images/sprite.png', 'parallax-p-500', );
$parallax-p-800-name: 'parallax-p-800';
$parallax-p-800-x: 2845px;
$parallax-p-800-y: 2416px;
$parallax-p-800-offset-x: -2845px;
$parallax-p-800-offset-y: -2416px;
$parallax-p-800-width: 800px;
$parallax-p-800-height: 301px;
$parallax-p-800-total-width: 4785px;
$parallax-p-800-total-height: 4307px;
$parallax-p-800-image: '../images/sprite.png';
$parallax-p-800: (2845px, 2416px, -2845px, -2416px, 800px, 301px, 4785px, 4307px, '../images/sprite.png', 'parallax-p-800', );
$parallax-name: 'parallax';
$parallax-x: 0px;
$parallax-y: 0px;
$parallax-offset-x: 0px;
$parallax-offset-y: 0px;
$parallax-width: 2835px;
$parallax-height: 1065px;
$parallax-total-width: 4785px;
$parallax-total-height: 4307px;
$parallax-image: '../images/sprite.png';
$parallax: (0px, 0px, 0px, 0px, 2835px, 1065px, 4785px, 4307px, '../images/sprite.png', 'parallax', );
$webclip-name: 'webclip';
$webclip-x: 4395px;
$webclip-y: 877px;
$webclip-offset-x: -4395px;
$webclip-offset-y: -877px;
$webclip-width: 256px;
$webclip-height: 256px;
$webclip-total-width: 4785px;
$webclip-total-height: 4307px;
$webclip-image: '../images/sprite.png';
$webclip: (4395px, 877px, -4395px, -877px, 256px, 256px, 4785px, 4307px, '../images/sprite.png', 'webclip', );
$spritesheet-width: 4785px;
$spritesheet-height: 4307px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-m-a-s-c-o-t-e-m-l-a-r-ai-2-, $-reta-ngulo-19-1-reta-ngulo-19, $bg-footer, $bg-jpg-p-1080, $bg-jpg-p-500, $bg-jpg-p-800, $bg-jpg, $bg2-p-1080, $bg2-p-500, $bg2-p-800, $bg2-, $check, $cvtt, $expand-screen, $favicon, $icon-academia, $icon-academia-1, $icon-bike, $img-m-lar-p-1080, $img-m-lar-p-500, $img-m-lar-p-800, $img-m-lar, $logo-m-lar-empreendimentos-, $logo-marquise, $parallax-p-1080, $parallax-p-1600, $parallax-p-2000, $parallax-p-2600, $parallax-p-500, $parallax-p-800, $parallax, $webclip, );
$spritesheet: (4785px, 4307px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
