//==========================================================================
// CONFIGURAÇÕES
// Importar classes Configurações do SASS: Mixings, Placeholder e Módulos
//==========================================================================

@charset "UTF-8";

body {
  overflow-x: hidden;
}

.vid-thumb-cover {
  position: relative;
}

.play-btn {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 9999;

  &:before {
    content: "";
    height: 70px;
    width: 70px;
    opacity: 0.7;
    display: flex;
    background-image: url(../images/play-button.png);
    background-size: cover;
  }
}
.fichatecnica__d-none {
  display: none;
}
.bg-squiggle {
  pointer-events: none;
}

.wrap-planta {
  position: relative;
  max-width: 480px !important;
}

.ml-button-orange {
  background-image: linear-gradient(94deg, #f38c25, #ff9831) !important;
}

figure.item.slick-slide img {
  // width: 100%;
  // height: 100%;
  // object-fit: contain;
}

.accordion-container {
  width: 100%;

  .accordion-item {
    background-color: #f08d33;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    /* Let's get this party started */
    ::-webkit-scrollbar {
      width: 12px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.233);
      background-color: #fff;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #6d237e;
    }

    ::-webkit-scrollbar-thumb:window-inactive {
      background: #6d237e;
    }

    .accordion-heading,
    .accordion-heading-2 {
      margin-top: 0;
      color: #ffffff !important;
      font-weight: 600;
      text-align: center;
      width: 100%;
      text-transform: uppercase;
    }
    .accordion-item-title {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .text-block-36 {
      color: #ffd5af;
    }

    .accordion-item-content-wrapper {
      overflow-y: scroll;
      transition: margin 0.3s;
      padding-right: 30px;
      /* width */
      &.open {
        margin: 20px 0;
        transition: margin 0.3s;
      }
      .text-block-36 {
        margin: 0 30px 0 50px;
      }
    }
  }
}

.mq-scrollbar {
  bottom: 0;
  background: #161616;
  padding: 0.5625rem 0;
  float: left;
  border-bottom: 1px solid #797979;
  z-index: 99;
  border-top: 3px solid #373737;
  width: 100%;
  position: fixed;

  .mq-block-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.mlar-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    height: 30px;
    width: 30px;
    background-image: url(../images/icones/icon-phone.png);
    display: flex;
    background-size: cover;
  }

  &.mlar-icon--wpp {
    &:before {
      background-image: url(../images/icones/icon-wpp.png);
    }
  }

  &.mlar-icon--chat {
    &:before {
      background-image: url(../images/icones/icon-chat.png);
    }
  }
}



.ml-slid-fc-dn{
display: none;
}




//Normalize
@import "webfow/normalize";

//MOPDULOS
@import "webfow/webflow";
@import "webfow/m-lar.webflow";

//MOPDULOS
@import "global/all";
@import "pages/all";
@import "modulos/all";
@import "vendor/base";
