.emi {
    background-image: url(../images/emi-oi.png);
    background-size: contain;
    position: fixed;
    height: 129px;
    width: 100px;
    right: 10px;
    bottom: -150px;
    z-index: 9999999999;
    opacity: 0;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, .9));
    cursor: pointer;
    transition: all 0.5s ;
    &.show{
        transition: all 0.5s ;
        opacity: 1;
        bottom: 10px;
    }
    &.upper{
        bottom: 140px;
        transition: all 0.5s ;
        width: 126px;
        background-image: url(../images/emi-chat.png);
       
    }
  }
  .mlar-scrollbar {
    padding: 10px 30px 10px 10px;
    position: fixed;
    z-index: 9999;
    background-color: #2fc5ca;
    border-top-left-radius: 10px;
    width: 330px;
    transition: all .3s ;
    box-shadow: -2px -2px 10px 0 hsla(0, 0%, 0%, 0.212);
    right: 0;
    bottom: -200px;

  &.open {
    transition: all 0.5s ;
    bottom: 0;
  }

  .scrllbr-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;

    .item {
        display: flex;
        border-bottom: 2px solid rgba(255, 255, 255, 0.485);
        margin-bottom: 0;
        padding: 5px 10px;
        flex-direction: column;
        justify-content: flex-start;
        min-width: 200px;

      &:nth-last-child(1) {
        margin-bottom: 0;
        border-bottom: none;
      }

    

      @media only screen and (min-width: 840px) {
        flex-direction: row;
      }

      .wrap-text {
        margin: 0;
        color: #fff;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        display: none;

        @media only screen and (min-width: 376px) {
          display: flex;
        }

        @media only screen and (min-width: 840px) {
          margin: 0px 15px 0 15px;
        }

        .title {
          font-size: 15px;
          line-height: 1;
          font-family: "Made tommy soft personal use", sans-serif;
          font-weight: 300;
          margin-bottom: 0;
          margin-top: 3px;

          @media only screen and (min-width: 840px) {
            margin-bottom: 3px;
          }
        }

        .info {
          margin: 0;
          font-weight: 600;
          font-size: 20px;
          line-height: 1;
          text-transform: uppercase;
          display: none;

          @media only screen and (min-width: 840px) {
            display: block;
          }
        }
      }
    }
  }
}