.#{$prefix}-grupo-empresas {
  flex-basis: 50%;

  @include e("title") {
    @include typography(600, 18, $font-default);
    color: cl(titles, grayDark);
    text-align: center;

    position: relative;
    margin-top: 0;
    color: #fff;
    font-family: "Made tommy soft personal use", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;

    &:before {
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.1);
    }
    @include respond-to(sm) {
      margin-bottom: rem(40);
    }

    @include respond-to(md) {
      text-align: left;
    }
  }
}

.#{$prefix}-empresa {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: rem(30);

  @include e("thumb") {
    height: rem(90);
    display: flex;
    position: relative;
    flex-basis: 25%;
    text-align: center;

    img {
      object-fit: contain;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
}

.footer-menu-wrap-item {
  display: flex;
  width: 100%;
  .footer-meta {
    width: 50%;
    align-items: baseline;
  }
}
