
/* ==================FORMULARIO================== */

.screen-reader-response {
    display: none;
  }
  
  .invalid .wpcf7-response-output {
    opacity: 1;
    animation: popup_form_banner 7s normal forwards ease-in-out;
    animation-iteration-count: 1;
  }
  
  .sent .wpcf7-response-output {
    opacity: 1;
    animation: popup_form_banner 7s normal forwards ease-in-out;
    animation-iteration-count: 1;
    background-color: #38aa55;
    color: #fff;
  }
  
  .wpcf7-response-output {
    position: fixed;
    background-color: #b8262c;
    width: 100%;
  
    top: -200px;
    left: 0;
    padding: 20px;
    text-align: center;
    font-weight: 200;
    /* transition: bottom 1s ease-in; */
    opacity: 0;
    z-index: 9999999999;
    color: #fff;
    font-weight: 600;
  }
  
  span.wpcf7-not-valid-tip {
    display: none;
  }
  
  .footer-newsletter {
    margin-bottom: 70px;
  }
  
  .footer-newsletter h3 {
    font-size: 22px;
    font-weight: 200;
  }
  
input.wpcf7-not-valid {
    border-color: #b8262c;
  }


  label.label-termos {
    width: 100%;
    font-size: 13px;
    line-height: 1;
    font-weight: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
        color:#335d88;
    }
    .aceite { padding-right:10px; }	
  }

  
  @media only screen and (max-width: 723px) {
    .form-wrap {
      flex-direction: column;
    }
  
    .form-wrap .form-item {
      width: 100%;
      margin-bottom: 10px;
    }
    .form-wrap .form-item.form-item__btn {
      width: 100%;
    }
  }
  
  @keyframes popup_form_banner {
    0% {
      top: -200px;
    }
  
    20% {
      top: 0px;
    }
  
    80% {
      top: 0px;
    }
  
    100% {
      top: -200px;
    }
  }
  