.grid-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";

  figure {
    margin: 0;

    &.none {
      display: none;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
.gallery_slide-wrap {
  max-width: 1920px;
  margin: 60px auto;
}
.gallery_slide {
  .slick-track {
    left: 0;

    @media only screen and (min-width: 660px){      
      left: -25%;
    }


  }
  figure {
    margin: 0;
    position: relative;
    cursor: grab;
    height: 300px;
    padding: 50px 0;

    &:before {
      content: "";
      margin-top: 50px;
      width: 50px;
      height: 50px;
      position: absolute;
      background-image: url(../images/expand-screen.png);
      background-position: center;
      background-repeat: no-repeat;
      top: 20px;
      right: 20px;
      z-index: 9999;
      background-size: 50%;
      background-color: #ffffff;
      padding: 5px;
      border-radius: 100px;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    @include respond-to(sm) {
      height: 350px;
    }
    @include respond-to(sm) {
      height: 400px;
    }
    @include respond-to(lg) {
      height: 500px;
    }
    &.slick-center {
      &:hover {
        &:before {
          transform: scale(1.1);
          opacity: 1 $i;
          transition: all 0.2s ease-in-out;
        }
      }
      &:before {
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
        transition-delay: 0.4s;
      }
      img {
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in-out;
        opacity: 0.9;
        transform: scale(1);
      }
      a {
        pointer-events: all;
      }
      p.caption {
        opacity: 1;
        transition: all 0.4s ease-in-out;
        transition-delay: 0.4s;
      }
    }
    &.none {
      display: none;
    }
    a {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: all 0.3s ease-in-out;
      opacity: 0.6;
      transform: scale(0.7);
    }
    p.caption {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      color: #636363;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }

  .slick-dots {
    bottom: -40px;

    .slick-active {
      button {
        &:before {
          opacity: 1;
          color: #f48d27;
        }
      }
    }

    li {
      margin: 0;

      button {
        background-color: rgb(239, 239, 239);
        margin: 0;

        &:before {
          opacity: 1;
          color: #6d247e;
        }
      }

      &:nth-child(1) {
        button {
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
        }
      }

      &:nth-last-child(1) {
        button {
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }
}

// teste area

button.arrow-right,
button.arrow-left {
  background-color: rgba(0, 0, 0, 0.369);
  width: 100%;
  height: 100%;
  max-width: 40px;
  pointer-events: all;
  position: relative;
  backdrop-filter: saturate(200%) blur(20px);
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  @include respond-to(sm) {
    max-width: 80px;
  }
  @include respond-to(md) {
    max-width: 100px;
  }
  @include respond-to(lg) {
    max-width: 200px;
  }

  &:hover {
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.62);
    transition: all 0.2s ease-in-out;
    &:before {
      transition: all 0.2s ease-in-out;
      height: 40px;
      width: 40px;
    }
  }

  &:before {
    content: "";
    height: 30px;
    width: 30px;
    transition: all 0.2s ease-in-out;
    background-image: url(../images/arrow.png);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 2;
    background-size: contain;
  }
}
button.arrow-left:before {
  transform: translate(-50%, -50%) rotate(180deg);
}

.btn-nav-gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(70% - 70px);
  z-index: 99;
  pointer-events: none;
  transform: translate(-50%, -50%);
  overflow: hidden;

  @include respond-to(xlg) {
    width: 85.4%;
  }
}
.last-slide-is-active button.arrow-right,
.first-slide-is-active button.arrow-left {
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
}
