.ml-main {
  transition: all 0.2s ease-in-out;
  position: relative;
  right: 0;

  .navigation-container {
    box-shadow: 0px 1px 10px hsla(0, 0%, 0%, 0.3);

    &.redu {
      box-shadow: 0px 1px 10px hsla(0, 0%, 0%, 0.6);

      .w-nav-brand {
        img {
          width: 60px;
          transition: width 0.6s ease-in-out;
        }
      }
    }
  }

  .navbar {
    .w-nav-brand {
      img {
        width: 100px;
        min-width: initial;
        transition: width 0.4s ease-in-out;
      }
    }

    .w-nav-menu {
      margin-right: 0;

      .w-submenu {
        position: relative;
        display: flex;
        justify-content: center;

        &:hover {
          .w-nav-link-submenu {
            opacity: 1;
            top: 99%;
            transition: all 0.3s ease-in;
          }
        }

        .w-nav-link-submenu {
          opacity: 0;
          position: absolute;
          left: 50%;
          background-color: #fff;
          color: #6e2a7e;
          padding: 10px 10px 10px 10px;
          border-top: 1px solid #000;
          top: 0;
          margin-top: 20%;
          transform: translate(-50%, -50%);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.141);
          transition-delay: 1s;
          transition: all 0.3s ease-out;
          &:before {
            content: "";
            width: 100%;
            height: 10px;
            background-color: transparent;
            top: -10px;
            left: 0;
            position: absolute;
            display: flex;
            z-index: -20;
          }
        }
      }

      a {
        font-size: 14px;
        padding: 0 8px 0 10px;
      }
    }
  }

  &.opem {
    transition: all 0.3s ease-in-out;
    right: calc(100vw - 100px);

    .sandwich-btn-menu {
      span {
        transition: all 0.2s ease-in-out;

        &:nth-child(1) {
          transform: translate(-50%, -50%) rotate(45deg);
          top: 50%;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translate(-50%, -50%) rotate(-45deg);
          top: 50%;
        }
      }
    }
  }

  .sandwich-btn-menu {
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 50%;
    width: 35px;
    height: 25px;
    transform: translateY(-50%);
    cursor: pointer;

    @media only screen and (min-width: 992px) {
      display: none;
    }

    span {
      transition: all 0.2s ease-in-out;
      height: 3px;
      width: 100%;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 10px;
      transform: translate(-50%, -50%) rotate(0deg);

      &:nth-child(1) {
        top: 0%;
      }

      &:nth-child(3) {
        top: 100%;
      }
    }
  }
}

.mobile-menu {
  background-color: #6d247e;
  box-shadow: -5px 0px 20px 20px rgba(0, 0, 0, 0.271);
  position: fixed;
  height: 100vh;
  width: calc(100vw - 100px);
  top: 0;
  z-index: 999;
  right: -100vw;
  transition: all 0.2s ease-in-out;

  &.opem {
    transition: all 0.25s ease-in-out;
    right: 0;
  }

  .mob-nav {
    .wrap-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 30px;

      a {
        color: #fff;
        text-align: center;
        padding-top: 20px;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}

.menu-nav {
  display: flex;
  flex-direction: row;
  margin: 0;

  @include m("submenu") {
    position: absolute;
    background-color: #2fc5ca;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    top: 50px;
    transition: all .3s ease-out;
    pointer-events: none;
    &:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #2fc5ca;
        position: absolute;
        transform: translateX(-50%);
        top: -10px;
        left: 50%;
    }
    &:before {
      content: "";
      height: 20px;
      width: 100%;
      position: absolute;
      top: -20px;
      background: transparent;
    }
  }

  .menu-item {
    position: relative;
    display: flex;
    align-items: center;
    i.seta-sub {
        width: 4px;
        height: 4px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #ffffff;
        right: 0;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &:hover {
      .menu-nav {
        @include m("submenu") {
          opacity: 1;
          top: 35px;
         pointer-events: all;
          transition: all .2s ease-in;
        }
      }
    }
    @include m("sub") {
      text-align: center;
      a {
        padding: 10px 30px $i;
        width: 100%;
        text-align: center;
      }
      border-bottom: 1px solid rgba(255, 255, 255, 0.211);
      &:nth-last-child(1) {
        border-bottom: none;
      }
    }
  }
}
