#login-modal{
  width: 100%;
  max-width: 350px;
}
#editarDados,#assistenciaTecnica {
  width: 100%;
  width: 770px;
  margin: 100px 0;
}
.#{$prefix}-modal-cliente {
    display: flex;
    flex-direction: column;
  
  
    @include m('forget-password') {
      display: none;
      margin-top: 15px;
    }
  
    @include e("form-group-pass") {
      margin-bottom: rem(7)
    }
  
    @include e("title-pass") {
      @include typography(400, 15, $font-default);
      color: #313131;
      text-align: center;
      margin-bottom: 9px;
    }
    .login__msg--erro {
      @include typography(400, 15, $font-default);
      background: #f51100;
      margin-bottom: 8px;
      padding: 9px;
      color: #fff;
    }
    .login__msg--sucesso {
      @include typography(400, 15, $font-default);
      background: green;
      padding: 9px;
      color: #fff;
    }
  
    @include e('reset-password') {
      @include typography(400, 15, $font-default);
      margin-top: 15px;
      color: #313131;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    @include e("form-group") {
      margin-bottom: rem(15);
  
      input {
        @include typography(400, 16, $font-default);
        width: 100%;
        height: rem(50);
        padding: rem(15);
        border: 1px solid rgba(202, 202, 202, 0.9);
      }
    }
  
    @include e("btn") {
      background: #f59f32;
      height: rem(55);
      border: 0;
      color: cl(white);
      text-transform: uppercase;
      cursor: pointer;
      width: 100%;
  
      #cliente-login-load {
        display: none;
      }
    }
  }
  
  .title-form-cliente {
    @include typography(400, 22, $font-default);
    color: cl(gray);
    text-align: center;
    margin-bottom: rem(16);
  }
  
  // form busca empreendimento
  #busca-emp {
    .title {
      @include typography(400, 22, $font-default);
      color: cl(gray);
      text-align: center;
      margin-bottom: rem(20);
    }
  }
  