.ml-sections__slides{
  
    position: relative;
    &:before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(241, 241, 241);
    }
}

.section-galeria{
    padding-bottom: 80px !important;
}


.ml-bg-purple{
    background-color: #6d237e;
}