.ml-slides {

    max-width: 1920px;
    margin: 0 auto;


    .banner {
        position: relative;

        .banner-dsktp {
            margin: 0 auto;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media only screen and (max-width: 760px) {
                display: none;
            }
        }

        .banner-mbl {
            margin: 0 auto;
            display: none;
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media only screen and (max-width: 760px) {
                display: block;
            }
        }

        .link-slide {
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }


    }




    &.slick-dotted.slick-slider {
        margin-bottom: 0px;
    }

    .slick-next,
    .slick-prev {
        &:before {
            font-size: 45px;
            width: 40px;
            height: 40px;
            filter: drop-shadow(0px 0px 10px #555);
            @media only screen and (max-width: 1440px) {
                font-size: 30px;

            }

            @media only screen and (max-width: 760px) {
                font-size: 25px;
                opacity: .60;

            }
        }
    }


    .slick-prev {
        left: 40px;
        z-index: 1;

        @media only screen and (max-width: 1440px) {
            left: 20px;

        }

        @media only screen and (max-width: 760px) {
            left: 10px;

        }
    }

    .slick-next {
        right: 40px;

        @media only screen and (max-width: 1440px) {
            right: 20px;

        }

        @media only screen and (max-width: 760px) {
            right: 10px;

        }
    }

    .slick-dots {
        bottom: 10px;



        .slick-active {

            button {


                &:before {
                    opacity: 1;
                    color: #f48d27;
                }
            }
        }

        li {
            margin: 0;

            button {
                background-color: #fff;
                margin: 0;

                &:before {
                    opacity: 1;
                    color: #6d247e;
                }
            }

            &:nth-child(1) {
                button {
                    border-bottom-left-radius: 10px;
                    border-top-left-radius: 10px;
                }
            }

            &:nth-last-child(1) {
                button {
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;

                }
            }
        }
    }
}