.vantagens_slide {
  .icon-large {
    width: 100px;
    transition: all 0.2s ease-in-out;
    transition-delay: 0.2s;
  }
  .slick-active {
    &.slick-center {
      .icon-large {
        width: 150px;
        transition: all 0.2s ease-in-out;
      }
    }
  }

   .slick-next:before,
   .slick-prev:before {
    font-size: 45px;
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 0 10px #555);
  }

  
  .slick-dots {
    bottom: 0px;



    .slick-active {

        button {


            &:before {
                opacity: 1;
                color: #f48d27;
            }
        }
    }

    li {
        margin: 0;

        button {
            background-color: #fff;
            margin: 0;

            &:before {
                opacity: 1;
                color: #6d247e;
            }
        }

        &:nth-child(1) {
            button {
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
            }
        }

        &:nth-last-child(1) {
            button {
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;

            }
        }
    }
}


}
